* {
    padding: 0;
    margin:0 ;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
   
  }
  
body {
    background-color: white;
    height: 100vh;
}
   
  body::-webkit-scrollbar {
    width: 12px;              
  }
  
  body::-webkit-scrollbar-track {
    background: #f1f0f6;     
   }
  
  body::-webkit-scrollbar-thumb {
    background-color: #91c041;   
    border-radius: 20px;       
    border: 3px solid #f1f0f6; 
  }

.display {
    max-width: 600px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.card-fale {
    border-radius: 35px;
    background-color: #f1f0f6;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.35);
}

.c-w{
    width: 500px;
}

.text {
    text-align: center;
    font-size: larger;
    font-weight: bold;
}


.c-fale {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
}

.img-fale {
    display: flex;
    align-items: center;
    padding: 20px;
}

.card-img-top {
    max-width: 90px;
    max-height: 90px;
    margin-top: 10px;
}

.change {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-top: 10px;
}

.c-bottom {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-social {
    width: 250px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.image-fale {
    max-width: 90px;
    max-height: 90px;
}

.figure-fale {
    margin-top: 50px;
    width: 500px;
}

.parag-fale {
    font-size: larger;
}

.add-fale {
    font-size: large;
}

@media (max-width: 460px){
    .text{
        font-size: small;
    }
}

@media (max-width: 768px){
    .c-fale {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .img-fale{
        margin: 20px;
    }
}


@media (max-width: 540px){
    .figure-fale {
        width: 300px;
    }
}

/* .fale {
    width: 50%;
    height: 70px;
    background-color: #E2E1E8;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    margin-top: 3%;
    border-radius: 35px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.35) ;
}

.fale h1 {
    font-size: 150%;

}

.box {
    height: 370px;
    width: 70%;
    background: linear-gradient(#91C041, #85b63149);
    margin-left: 15%;
    margin-top: 2%;
    border-radius: 15px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 7px 8px;
}

.box img {
    display: flex;
    padding-left: 60%;
     height: 350px;
     margin: 10px;
}

.botao1 {
    width: 20%;
    height: 60px;
    background-color: #F1F0F6; 
    top: -320px;
    left: 17%;
    display: flex;
    position: relative;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  align-items: center;
}

.botao2 {
    width: 20%;
    height: 60px;
    background-color: #F1F0F6; 
    top: -290px;
    left: 17%;
    display: flex;
    position: relative;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    align-items: center;
}

.botao3 {
    width: 20%;
    height: 60px;
    background-color: #F1F0F6; 
    top: -260px;
    left: 17%;
    display: flex;
    position: relative;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    align-items: center;
}

.botao4 {
    width: 20%;
    height: 60px;
    background-color: #F1F0F6; 
    top: -100px;
    left: 15%;
    display: flex;
    position: relative;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    align-items: center;
}

h7 {
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
}

h8 {
    font-size: 22px;
    margin-left: auto;
    margin-right: auto;

}

.redes {
    width: 100%;
    display: flex;
    justify-content: center;
}

.redes2 {
    width: 17%;
    display: flex;
    justify-content: space-between;
}

.logo2 {
    display: flex;
    width: 100px;
    height: 100px;
}

.logo3 {
    display: flex;
    width: 100px;
    height: 100px;
}

.texto {
    font-size: 30px;
    width: 50%;
    margin-top: 5%;
    margin-left: 26%;
    text-align: center;
}

.endereco {
    font-size: 20px;
    width: 100%;
    color: #545454;
    margin: 2% 0 2% 0;

}

address {
    text-align: center;
}


/* Decorações */


.home1:hover, .home2:hover, .home3:hover, .ajudar:hover, .botao:hover {
    background-color: #91C041;
    border-radius: 10px;
}

.entrar:hover {
  background-color: #F9B15D;
} 