* {
    padding: 0;
    margin:0 ;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  body::-webkit-scrollbar {
    width: 12px;              
  }
  
  body::-webkit-scrollbar-track {
    background: #f1f0f6;     
   }
  
  body::-webkit-scrollbar-thumb {
    background-color: #91c041;   
    border-radius: 20px;       
    border: 3px solid #f1f0f6; 
  }
  
a {
    text-decoration: none;
  }
  
.ativo {
    text-decoration: underline;
  }


.infos {
    max-width: 100vw;
    height: 220px;
    background-color: #f9f7e4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 0;
    box-shadow: inset rgba(0, 0, 0, 0.2) 0px 10px 20px;

}


.infos h2 {
    color:#545454;
    padding-left: 9%;
}

.infos h6 {
    color:#545454;
    padding-left: 9%
}

.c-body {
    max-width: 100vw;
    display: flex;
    padding: 0;
}

/*Filtro*/

.accordion-responsive {
    width: 400px;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    height: max-content;
    overflow: scroll;
    overflow-x: overlay;
}


.filtro {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    font-size: large;
}



.header-filtros {
    padding-top: 10px;
    padding-bottom: 10px;
}

/*Fim do filtro*/

/*animais*/

.animals {
    max-height: fit-content;
    max-width:100vw;
    margin: 0;
    padding: 0;
}

.titulo {
    background-color: #F1F0F6;
    width: 100%;
    height: 100px;
    align-items: center;
    display: flex;
    padding-left: 20px;
}

.titulo h2 {
    font-size:x-large;
}

.fotos {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.card-animais {
    max-height: 300px;
}

.card-cc {
    margin-bottom: 30px;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px;
    border-radius: 20px;
}

@media (max-width: 1205px){
    .fotos {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-content: center;
    }
}

@media (max-width: 780px){
    .fotos {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }
    .accordion-responsive {
        width: 400px;
        position: inherit;
        height: max-content;
    }
}

@media (max-width: 560px){
    .c-body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .accordion-responsive {
        width: 400px;
        position: inherit;
        height: max-content;
    }
}