* {
    padding: 0;
    margin:0 ;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
   
  }
  
body {
    background-color: #FFFBD8;
}
   
  body::-webkit-scrollbar {
    width: 12px;              
  }
  
  body::-webkit-scrollbar-track {
    background: #f1f0f6;     
   }
  
  body::-webkit-scrollbar-thumb {
    background-color: #91c041;   
    border-radius: 20px;       
    border: 3px solid #f1f0f6; 
  }

/* Começo do header */

  a {
      text-decoration: none;
  }
  
  .ativo {
      text-decoration: underline;
  }


header {
    display: flex ;
    background-color: #91c041;
    height: 30px;
    font-size: 10px;
    width: 100%;
}

.head1 {
    display: flex;
    margin-left: 130px;
    align-items: center;
    justify-content: center;
}

.head2 {
    display: flex;
    align-items: center;
    width: 100%;
}

.cabeca {
    display: flex ;
    color:white;
}
.cabeca1{
    color: white;
    display: flex;
    width: 100%;
    padding-left: 12%;
}
.cabeca2 {
    display: flex ;
    color: white;
    width: 100%;
    justify-content: right;
    margin-right: 130px;
}
.header {
    background-color: #f1f0f6;
    display: flex;
    height: 90px;
    box-shadow:0px 10px 5px #e4e3e3;
    margin: 0 auto;
     
}

.header img {
    width: 150px;
    min-width: 300px;
    margin-left: 130px;
}


.header h2 {
    color: #545454;
    text-align: center;
}

.hd {
    display: flex;
    align-items: center;
    font-size: 10px;
    width: 100%;
    margin-right: 130px;
}

.hd2 a {
    width: max-content;
}

.hd2 {
    display:flex;
    justify-content: right;
    width: 100%;
}


.botoes {
    display: flex;
    justify-content:space-between;
    margin-right: 130px;
}

.home1, .home2, .home3 {
    width: max-content;
    padding: 10px;
}

.botao, .ajudar, .entrar {
    margin-left: 10px;
    padding: 5px;
}

.botoes a {
    color: white;
    padding: 10px;
}

.entrar a {
    color: #91C041;
}

.botao {
    background-color: #F9B15D;
    height: 40px;
    width: max-content;
    display:  flex;
    border-radius: 10px;
    align-items: center;
    font-size: 15px;
    justify-content: center;
    border: 3px;
    border-style: solid;
    border-color:#F9B15D;
}


.ajudar {
    background-color: #F9B15D;
    border: 3px;
    border-style: solid;
    border-color:#F9B15D;
    height: 40px;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}

.entrar {
    border: 3px;
    border-style: solid;
    border-color:#91C041;
    background-color: #fff;
    height: 40px;
    width: max-content;
    display:  flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 15px;
}

/* Fim do header */

.fale {
    width: 50%;
    height: 70px;
    background-color: #E2E1E8;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    margin-top: 3%;
    border-radius: 35px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.35) ;
}

.fale h1 {
    font-size: 150%;

}

.box {
    height: 370px;
    width: 70%;
    background: linear-gradient(#91C041, #85b63149);
    margin-left: 15%;
    margin-top: 2%;
    border-radius: 15px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 7px 8px;
}

.box img {
    display: flex;
    padding-left: 60%;
     height: 350px;
     margin: 10px;
}

.botao1 {
    width: 20%;
    height: 60px;
    background-color: #F1F0F6; 
    top: -320px;
    left: 17%;
    display: flex;
    position: relative;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  align-items: center;
}

.botao2 {
    width: 20%;
    height: 60px;
    background-color: #F1F0F6; 
    top: -290px;
    left: 17%;
    display: flex;
    position: relative;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    align-items: center;
}

.botao3 {
    width: 20%;
    height: 60px;
    background-color: #F1F0F6; 
    top: -260px;
    left: 17%;
    display: flex;
    position: relative;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    align-items: center;
}

.botao4 {
    width: 20%;
    height: 60px;
    background-color: #F1F0F6; 
    top: -100px;
    left: 15%;
    display: flex;
    position: relative;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    align-items: center;
}

h7 {
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
}

h8 {
    font-size: 22px;
    margin-left: auto;
    margin-right: auto;

}

.redes {
    width: 100%;
    display: flex;
    justify-content: center;
}

.redes2 {
    width: 17%;
    display: flex;
    justify-content: space-between;
}

.logo2 {
    display: flex;
    width: 100px;
    height: 100px;
}

.logo3 {
    display: flex;
    width: 100px;
    height: 100px;
}

.texto {
    font-size: 30px;
    width: 50%;
    margin-top: 5%;
    margin-left: 26%;
    text-align: center;
}

.endereco {
    font-size: 20px;
    width: 100%;
    color: #545454;
    margin: 2% 0 2% 0;

}

address {
    text-align: center;
}

footer {
    height: 280px;
    width: 100%;
    background-color: #91C041;
    color: white;
    font-size: 24px;
    margin-bottom: 0%;
}

.rodape {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 200px;
    margin: 0 10% 0 10%;
    padding-top: 2%;
}

.esquerda {
    display: flex;
    flex-direction: column;
}

.esquerda h5 {
    font-size: large;
}

.esquerda h6 {
    font-size: medium;
    font-weight: lighter;
}

.devs {
    display: flex;
    flex-direction: column;
    align-items:end;
    width: 200px;
    margin-top: 2%;
}

.devs img {
    height: 50px;
    width: 50px;
    opacity: 50%;
    margin-top: 15%;
}

footer img {
    width: 100px;
    height: 120px;
}

/* Decorações */

.home1:hover, .home2:hover, .home3:hover, .ajudar:hover, .botao:hover {
    background-color: #91C041;
    border-radius: 10px;
}

.entrar:hover {
  background-color: #F9B15D;
}