* {
    padding: 0;
    margin:0 ;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
   
  }
  
body {
    background-color: #FFFBD8;
}
   
  body::-webkit-scrollbar {
    width: 12px;              
  }
  
  body::-webkit-scrollbar-track {
    background: #f1f0f6;     
   }
  
  body::-webkit-scrollbar-thumb {
    background-color: #91c041;   
    border-radius: 20px;       
    border: 3px solid #f1f0f6; 
  }

  a {
      text-decoration: none;
  }
  
  .ativo {
      text-decoration: underline;
  }


header {
    display: flex ;
    background-color: #91c041;
    height: 30px;
    font-size: 10px;
    width: 100%;
}

.head1 {
    display: flex;
    margin-left: 130px;
    align-items: center;
    justify-content: center;
}

.head2 {
    display: flex;
    align-items: center;
    width: 100%;
}

.cabeca {
    display: flex ;
    color:white;
}
.cabeca1{
    color: white;
    display: flex;
    width: 100%;
    padding-left: 12%;
}
.cabeca2 {
    display: flex ;
    color: white;
    width: 100%;
    justify-content: right;
    margin-right: 130px;
}
.header {
    background-color: #f1f0f6;
    display: flex;
    height: 12%;
    box-shadow:0px 10px 5px #e4e3e3;
    margin: 0 auto;
     
}

.header img {
    width: 150px;
    min-width: 300px;
    margin-left: 130px;
}


.header h2 {
    color: #545454;
    text-align: center;
}

.hd {
    display: flex;
    align-items: center;
    font-size: 10px;
    width: 100%;
}

.hd2 a {
    width: max-content;
}

.hd2 {
    display:flex;
    justify-content: space-between;
    width: 40%;
    margin-left: 35%;
    margin-right: 5%;
}


.botoes {
    display: flex;
    width: 30%;
    justify-content:space-between;
    margin-right: 130px;
}

.home1, .home2, .home3 {
    width: max-content;
    padding: 10px;
}

.botao, .ajudar, .entrar {
    margin-left: 10px;
    padding: 5px;
}

.botoes a {
    color: white;
    padding: 10px;
}

.entrar a {
    color: #91C041;
}

.botao {
    background-color: #F9B15D;
    height: 40px;
    width: max-content;
    display:  flex;
    border-radius: 10px;
    align-items: center;
    font-size: 15px;
    justify-content: center;
    border: 3px;
    border-style: solid;
    border-color:#F9B15D;
}


.ajudar {
    background-color: #F9B15D;
    border: 3px;
    border-style: solid;
    border-color:#F9B15D;
    height: 40px;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}

.entrar {
    border: 3px;
    border-style: solid;
    border-color:#91C041;
    background-color: #fff;
    height: 40px;
    width: max-content;
    display:  flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 15px;
}

.foto1 {
    position: relative;
    display: flex;
    height: 200px;
    z-index: -1 ;
    left: 0;
    background-color: #FFFBD8;
}

.h{
    font-size: 30px;
    color: #91C041;
    padding-left: 30%;
    padding-top: 100px;
}

.capitulos {
    height: 400px;
    width: 250px;
    background-color: white;
    margin-left: 10%;
    position: relative;
    z-index: 1;
    top: -100px;
    border-radius: 10px;
    font-size: 50px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25) ;
    text-align: center;
}

.foto2 {
    position: relative;
    display: flex;
    height: 350px;
    width: 60%;
    background-color: #FFFBD8;
    z-index: 1;
    top: -450px;
    left: 30%;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25) ;
    border-radius: 10px;
}


.texto h3  {
    width: 50%;
    display: flex;
    position: relative;
    padding-left:  40%;
    top: -400px;
    font-size: 24px;
}

.texto h1 {
    font-size: 40px;
    display: flex;
    position: relative;
    padding-left:  40%;
    top: -400px;
}
.rodape {
    height: 100px;
    width: 100%;
    background-color: #91C041;
    color: white;
    font-size: 24px;
}

/* Decorações */

.home1:hover, .home2:hover, .home3:hover, .ajudar:hover, .botao:hover {
    background-color: #91C041;
    border-radius: 10px;
}

.entrar:hover {
background-color: #F9B15D;