* {
    padding: 0;
    margin:0 ;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
   
  }
  
body {
    background-color: #FFFBD8;
}
   
  body::-webkit-scrollbar {
    width: 12px;              
  }
  
  body::-webkit-scrollbar-track {
    background: #f1f0f6;     
   }
  
  body::-webkit-scrollbar-thumb {
    background-color: #91c041;   
    border-radius: 20px;       
    border: 3px solid #f1f0f6; 
  }

  a {
      text-decoration: none;
  }
  
  .ativo {
      text-decoration: underline;
  }


header {
    display: flex ;
    background-color: #91c041;
    height: 30px;
    font-size: 10px;
    width: 100%;
}

.head1 {
    display: flex;
    margin-left: 130px;
    align-items: center;
    justify-content: center;
}

.head2 {
    display: flex;
    align-items: center;
    width: 100%;
}

.cabeca {
    display: flex ;
    color:white;
}
.cabeca1{
    color: white;
    display: flex;
    width: 100%;
    padding-left: 12%;
}
.cabeca2 {
    display: flex ;
    color: white;
    width: 100%;
    justify-content: right;
    margin-right: 130px;
}
.header {
    background-color: #f1f0f6; 
    height: 90px;
    display: flex;
    height: 12%;
    box-shadow:0px 10px 5px #e4e3e3;
    margin: 0 auto;
     
}

.header img {
    width: 150px;
    min-width: 300px;
    margin-left: 130px;
}


.header h2 {
    color: #545454;
    text-align: center;
}

.hd {
    display: flex;
    align-items: center;
    font-size: 10px;
    width: 100%;
}

.hd2 a {
    width: max-content;
}

.hd2 {
    display:flex;
    justify-content: space-around;
    width: 50%;
    margin-left: 35%;
    margin-right: 5%;
}

.botoes {
    display: flex;
    width: 30%;
    justify-content:space-between;
    margin-right: 130px;
}

.home1, .home2, .home3 {
    width: max-content;
    padding: 10px;
}

.botao, .ajudar, .entrar {
    margin-left: 10px;
    padding: 5px;
}

.botoes a {
    color: white;
    padding: 10px;
}

.entrar a {
    color: #91C041;
}

.botao {
    background-color: #F9B15D;
    height: 40px;
    width: max-content;
    display:  flex;
    border-radius: 10px;
    align-items: center;
    font-size: 15px;
    justify-content: center;
    border: 3px;
    border-style: solid;
    border-color:#F9B15D;
}


.ajudar {
    background-color: #F9B15D;
    border: 3px;
    border-style: solid;
    border-color:#F9B15D;
    height: 40px;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}

.entrar {
    border: 3px;
    border-style: solid;
    border-color:#91C041;
    background-color: #fff;
    height: 40px;
    width: max-content;
    display:  flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 15px;
}


.titulo-cadastro {
    position: relative;
    top: 50px;
    color: white;
    text-align: center;
}

.caixa-esquerda {
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #F9B15D;
    width: 20%;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    height: 500px;
}

.botao-entrar {
    display: flex;
    justify-content: center;
    /* align-self: center; */
    top: 250px;
    position: relative;
}

.caixa-esquerda h2 {
    color: #545454;
    font-size: 16px;
    text-align: center;
    position: relative;
    top: 80px;
}

.botao-entrar a {
    color:#6A8D2E;
    border: 1px solid #6A8D2E;
    padding: 10px;
    background-color: white;
    border-radius: 6px;
    width: 60px;
    text-align: center;
}
.caixa-total {
    display: flex;
    justify-content: center;
}

.caixa-direita {
    display: flex;
    justify-content: center;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 50%;
    height: 500px;
    background: rgb(221,221,221);
    background: linear-gradient(0deg, rgba(221,221,221,1) 0%, rgba(255,255,255,1) 100%);
}

.formulario {
    margin-top: 50px;
}

.caixa-direita h1{
    text-align: center;
}

label {
    margin: 1rem;;
}

.estilo-forms {
    width: 360px;
    border-radius: 8px;
    border: 2px solid #F9B15D;
    background-color: #FFBF7780;
}

.form {
    display: flex;
    flex-direction: column;
    height:100%;
    justify-content: center;

}

::placeholder {
    padding: 20px;
}

input {
    padding: 3% 0 3% 0;
}

footer {
    height: 280px;
    width: 100%;
    background-color: #91C041;
    color: white;
    font-size: 24px;
    margin-bottom: 0%;
}

.rodape {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 200px;
    margin: 0 10% 0 10%;
    padding-top: 2%;
}

.esquerda {
    display: flex;
    flex-direction: column;
}

.esquerda h5 {
    font-size: large;
}

.esquerda h6 {
    font-size: medium;
    font-weight: lighter;
}

.devs {
    display: flex;
    flex-direction: column;
    align-items:end;
    width: 200px;
    margin-top: 2%;
}

.devs img {
    height: 50px;
    width: 50px;
    opacity: 50%;
    margin-top: 15%;
}

footer img {
    width: 100px;
    height: 120px;
}

    /* Decorações */

.home1:hover, .home2:hover, .home3:hover, .ajudar:hover, .botao:hover {
    background-color: #91C041;
    border-radius: 10px;
}

.entrar:hover {
background-color: #F9B15D;
}