* {
    padding: 0;
    margin:0 ;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    scroll-behavior: smooth;   
  }
  
body {
    background-color: white;
}
   
  body::-webkit-scrollbar {
    width: 12px;              
  }
  
  body::-webkit-scrollbar-track {
    background: #f1f0f6;     
   }
  
  body::-webkit-scrollbar-thumb {
    background-color: #91c041;   
    border-radius: 20px;       
    border: 3px solid #f1f0f6; 
  }

.amarelo {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 237px;
    background-color: #FFFBD8;
    left: 0%;
    top: 110px;
}

.main {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 5% 10% 0 10%;
}

.left {
    width: 25%;
}

.capitulos {
    height: 400px;
    width: 270px;
    background-color: white;
    border-radius: 10px;
    font-size: 200%;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25) ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.capitulos h3 {

    display: flex;
    font-size: 100%;
    color: #545454;
    font-weight: lighter;
}



.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin-top: 40px;
}

.h{
    font-size: 40px;
    font-weight: lighter;
    color: #91C041;
}

.foto2 {
    margin-top: 38px;
    height: 350px;
    width: 100%;
    z-index: 1;
    border-radius: 10px;
}

.foto2 img {
    width: 100%;
    height: max-content;
    border-radius: 10px;
}

.cap {
    height:110px;
    display: flex;
    align-items: center;
}

.texto {
    height: 100%;
    margin-top: 30px;
}

.texto p  {
    width: 100%;
    font-size: 120%;
    color:#545454;
    font-weight: lighter;
}

.texto h1 {
    font-size: 200%;
    color:#808080;
}

footer {
    height: 280px;
    width: 100%;
    background-color: #91C041;
    color: white;
    font-size: 24px;
    margin-bottom: 0%;
}

.rodape {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 200px;
    margin: 0 10% 0 10%;
    padding-top: 2%;
}

.esquerda {
    display: flex;
    flex-direction: column;
}

.esquerda h5 {
    font-size: large;
}

.esquerda h6 {
    font-size: medium;
    font-weight: lighter;
}

.devs {
    display: flex;
    flex-direction: column;
    align-items:end;
    width: 200px;
    margin-top: 2%;
}

.devs img {
    height: 50px;
    width: 50px;
    opacity: 50%;
    margin-top: 15%;
}

footer img {
    width: 100px;
    height: 120px;
}
iframe {
    margin-top: 2%;

}

/* Decorações */

.home1:hover, .home2:hover, .home3:hover, .ajudar:hover, .botao:hover {
    background-color: #91C041;
    border-radius: 10px;
}

.entrar:hover {
background-color: #F9B15D;
}