/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}
body {
    background-color: #f9f7e4;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Caixa principal */
.conteudo-login {
    max-width: 300px;
    background: linear-gradient(180deg, #FFFFFF 0%, #EEEEEE 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 28px;
    padding: 1rem;
    text-align: center;
}

/* Estilo do formulário */
.login h1 {
    font-size: 1.8rem;
    color: #545454;
    margin-bottom: 1rem;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.controle {
    display: flex;
    align-items: center;
    position: relative;
    gap: 0.5rem;
}

.bx {
    width: 100%;
    padding: 0.75rem;
    border: 2px solid #F9B15D;
    border-radius: 15px;
    background-color: rgba(255, 191, 119, 0.5);
}

.mostrar-senha {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.mostrar-senha img {
    width: 20px;
}

.img-person,.img-lock{
    width: 50px;
}

.bxlogin {
    background-color: #B0E850;
    border: 2px solid #6A8D2E;
    border-radius: 15px;
    padding: 0.65rem;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

.bxlogin:hover {
    background-color: #91C041;
}

.parag{
    margin-top: 1rem;
    color: #4999C7;
    text-decoration: none;
    font-size: 1rem;
    display: block;
}

.registro-link {
    margin-top: 1rem;
    color: #4999C7;
    text-decoration: none;
    font-size: 1rem;
    display: block;
}

.parag:hover{
    text-decoration: underline;
}


.registro-link:hover {
    text-decoration: underline;
}

/* Responsividade */
@media (min-width: 768px) {
    .conteudo-login {
        max-width: 600px;
        padding: 1rem;
    }

    .login h1 {
        font-size: 2rem;
    }

    .formulario {
        gap: 1rem;
    }
}
