header {
    background-color: #91c041;
    height: 30px;
    width: 100%;
}


.bg-body-tertiary {
    background-color: #f1f0f6  !important;
}

.c-button {
    max-width: 400px;
    display: flex;
    justify-content: right;
}

.navbar {
    padding: 0;
}

.navbar-expand-lg {
    padding: 0;
    box-shadow:0px 10px 5px #e4e3e3;
}

.container-fluid {
    margin-right: 40px;
    margin-left: 40px;
}

.nav-item {
    width: max-content;
}

.navbar-brand img {
    content: url("../img/logo.png");
    width: 300px;
    height: 82px; 
}

.btn-success {
    font-size: medium;
    width: max-content;
    margin: 10px;
    padding: 12px;
}

@media (max-width: 1200px){

    .navbar-collapse {
        padding-bottom: 20px;
    }

    .mb-2 {
        margin-bottom: 0 !important;
    }

    .container-fluid {
        margin: 0;
    }

    .nav-link {
        padding: 10px 0 10px 0;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .max-width {
        background-color: #f1f0f6;
        color: rgb(85, 85, 85);
        border: none;
        margin: 0;
        padding: 10px;

    }

    .c-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100vw;
        margin: 0;
        padding: 0;
    }
}


@media (max-width: 500px){
    .navbar-brand img {
        content: url("../img/minilogo.webp");
        max-width: 70px;
        max-height: 70px;
    }

}




/* a {
    text-decoration: none;
  }
  
a.active {
    text-decoration: underline;
} */

/* 


.header {
    display: flex;
    height: 90px;
    box-shadow:0px 10px 5px #e4e3e3;
    margin: 0 auto;
}

.header img {
    width: 150px;
    min-width: 300px;
    margin-left: 130px;
}


.header h2 {
    color: #545454;
    text-align: center;
}

.hd {
    display: flex;
    align-items: center;
    font-size: 10px;
    width: 100%;
    margin-right: 130px;
}

.hd2 a {
    width: max-content;
}

.hd2 {
    display:flex;
    justify-content: right;
    width: 100%;
}


.botoes {
    display: flex;
    justify-content:space-between;
    margin-right: 130px;
}

.home1, .home2, .home3 {
    width: max-content;
    padding: 10px;
}

.botao, .ajudar, .entrar {
    margin-left: 10px;
    padding: 5px;
}

.botoes a {
    color: white;
    padding: 10px;
}

.entrar a {
    color: #91C041;
}

.botao {
    background-color: #F9B15D;
    height: 40px;
    width: max-content;
    display:  flex;
    border-radius: 10px;
    align-items: center;
    font-size: 15px;
    justify-content: center;
    border: 3px;
    border-style: solid;
    border-color:#F9B15D;
}


.ajudar {
    background-color: #F9B15D;
    border: 3px;
    border-style: solid;
    border-color:#F9B15D;
    height: 40px;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}

.entrar {
    border: 3px;
    border-style: solid;
    border-color:#91C041;
    background-color: #fff;
    height: 40px;
    width: max-content;
    display:  flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 15px;
} */