
.footer {
    background-color: #91c041;
    color:white;
    /* max-height: 600px; */
}


.overflow-hidden {
    max-width: max-content !important;
}

.row {
    margin: 30px;
}


/* footer {
    height: 280px;
    width: 100%;
    background-color: #91C041;
    color: white;
    font-size: 24px;
    margin-bottom: 0%;
}

.rodape {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 200px;
    margin: 0 10% 0 10%;
    padding-top: 2%;
}

.esquerda {
    display: flex;
    flex-direction: column;
}

.esquerda h5 {
    font-size: large;
}

.esquerda h6 {
    font-size: medium;
    font-weight: lighter;
}

.devs {
    display: flex;
    flex-direction: column;
    align-items:end;
    width: 200px;
    margin-top: 2%;
}

.devs img {
    height: 50px;
    width: 50px;
    opacity: 50%;
    margin-top: 15%;
}

footer img {
    width: 100px;
    height: 120px;
} */