<footer class="footer">

    <section class="bg-green py-4 py-md-5 py-xl-8 border-top border-light">
      <div class="container overflow-hidden">
        <div class="row gy-4 gy-lg-0 justify-content-xl-between">
          <div class="col-12 col-md-4 col-lg-3 col-xl-2">
            <div class="widget">
              <a href="#!">
                <img src="./img/brasão-barra.png" alt="BootstrapBrain Logo" width="175" height="175">
              </a>
            </div>
          </div>
          <div class="col-12 col-md-4 col-lg-3 col-xl-2">
            <div class="widget">
              <h4 class="widget-title mb-4">Centro de Controle de Zoonoses</h4>
              <address class="mb-4">BRB-246, Barra Bonita - SP, 17340-000, Brasil</address>
              <p class="mb-1">
                <a class="link-light text-decoration-none" href="tel:+151499662-0512">(14)99662-0512</a>
              </p>
              <p class="mb-0">
                <a class="link-light text-decoration-none" href="mailto:demo@yourdomain.com">demo@yourdomain.com</a>
              </p>
            </div>
          </div>
          <div class="col-12 col-md-4 col-lg-3 col-xl-2">
            <div class="widget">
              <h4 class="widget-title mb-4">Saiba mais</h4>
              <ul class="list-unstyled">
                <li class="mb-2">
                  <a href="#!" class="link-light text-decoration-none">Sobre nós</a>
                </li>
                <li class="mb-2">
                  <a href="#!" class="link-light text-decoration-none">Fale Conosco</a>
                </li>
                <li class="mb-2">
                  <a href="#!" class="link-light text-decoration-none">Como ajudar</a>
                </li>
                <li class="mb-2">
                  <a href="#!" class="link-light text-decoration-none">Termos de uso</a>
                </li>
                <li class="mb-0">
                  <a href="#!" class="link-light text-decoration-none">Política de privacidade</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-lg-3 col-xl-4">
            <div class="widget">
              <h4 class="widget-title mb-4">Desenvolvedores</h4>
              <p class="mb-4">Saiba mais sobre os desenvolvedores web que projetaram este site. Acesse a organização do github</p>
              <a href="https://github.com/Adocao-Digital/projeto" class="btn btn-success" target="_blank">Clique aqui</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </footer>