<nav>
    <header>
        <div class="head2">
            <h3 class="cabeca2"> Redes sociais</h3>
        </div>
    </header>
        <div class="header">
            <a href="index.php"><img src="img/logo.png"></a>
        <div class="hd">
            <div class="hd2">
                <div class="home1"><a id="index" href="/projeto/"><h2> Home</h2></a></div>
                <div class="home2"><a id="sobre" href="/projeto/sobre"><h2> Sobre nós</h2></a></div>
                <div class="home3"><a id="fale" href="/projeto/fale"><h2> Fale conosco</h2></a></div>
            </div>
            <div class="botoes">
                <div class="botao">
                    <a id="adotar" href="/projeto/adotar">Quero adotar</a>
                </div>
                <div class="ajudar">
                    <a id="ajudar" href="/projeto/ajudar">Ajudar</a>
                </div>
                <div class="entrar">
                    <a id="entrar" href="/projeto/login">Entrar</a>
                </div>
            </div>
        </div>
    </div>
</nav>